@import "bootstrap-sprockets";
@import "bootstrap";
h1 {
    font-size: 20;
    text-align: center
  }
  body {
font-size: 15;
  margin-bottom: 30px;
  font-weight: normal;
  padding-left: 10px;
}

.center {
  text-align: center;
  }
